<!DOCTYPE html>
<!-- nodemon -e js,html.css index.js    // serve para escutar estes arquivos pelo nodemon-->
<html>

    <head>
        <meta charset="utf-8">
        <title> Meus Pokemons </title>
        <link rel="stylesheet" href="../styles/index.css" >

    </head>

    <body>
        <header>

            <h1 class="titulo">PokeAPI</h1> 
            <div>
                <img src="https://img.pokemondb.net/boxes/sun.jpg" alt="Foto de Perfil"/>

            <span>Minha Conta</span>
            </div>
        </header>
        
            <main>
                <div id="pesquisa">
                    <input type="text" placeholder="Digite Seu Pokémon">
                </div>

                <div class="lista">
                        <div class="pokemon">
                            <strong>#1 Scyther</strong>
                            <img src="../assets/img/scyther.jpeg" alt="Pokemon Scyther" width="200px">
                        </div>

                        <div class="pokemon">
                            <strong>#2 Snorlax</strong>
                            <img src="../assets/img/snorlax.jpeg" alt="Pokemon Snorlax" width="200px">
                        </div>

                        <div class="pokemon">
                            <strong>#3 Gengar</strong>
                            <img src="https://img.pokemondb.net/artwork/gengar.jpg" alt="Pokemon Gengar" width="200px">
                        </div>
                </div>


            </main>

            <footer>
                <span>
                    Desenvolvido por Paulo Moreira.
                </span>
            </footer>

    </body>


</html>